.acme {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
}

  main {
    animation: fadeIn 1s ease-in;
  }

  input {
      box-shadow: none;
  }

  .btn-warning {
        background-color: var(--cor_secundaria);
  }

  .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
        background-color: #ee5e00;
        box-shadow: none;
  }

  .input-group {
      width: 720px;
  }

  input::placeholder{
        font-family: "Roboto",sans-serif
   }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
        