.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.table th, .table td {
    vertical-align: middle;
}
.action-buttons form {
    display: inline-block;
    margin-right: 5px; /* Espaçamento entre os botões */
}
.action-buttons .btn {
    padding: 0.375rem 0.75rem; /* Botões menores */
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}