.acme {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.0rem;
    text-align: center;
}

.btn-warning {
      background-color: var(--cor_secundaria);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:visited {
      background-color: #ee5e00;
      box-shadow: none;
}

input::placeholder{
    font-family: "Roboto",sans-serif
}