.acme {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    text-align: center;
}

.roboto-side {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.sidebar {
  position: fixed;
  top: 11vh;
  bottom: 0;
  left: 0;
  padding: 20vh 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 280px;
  height: 80vh;
  z-index: 600;
  border-radius: 0rem 2rem 2rem 0rem;
}

.tema {
    background-color: var(--cor_primaria);
    color: white;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.tema-white {
    color: black;
}

.btn-warning {
      background-color: var(--cor_secundaria);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:visited {
      background-color: #ee5e00;
      box-shadow: none;
}

input::placeholder{
    font-family: "Roboto",sans-serif
}