:root {
    --cor_primaria : #3c3c3c;
    --cor_secundaria : #ff6f00;
    --cor_fundo : #F5F2E4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
    background-color: #f4f4f4;
}

#nave {
    background-color: var(--cor_primaria);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: normal;
    gap: 2rem;
    margin-top: -0.1rem;
    border-bottom: 0.15rem solid var(--cor_fundo);
}

.roboto-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.05rem;
}

.logo {
    padding: 0.3rem;
}

.logo img{
    width: 55px;
}

.links a{
    text-decoration: none;
    color: var(--cor_fundo);
    transition: ease-in 0.2s;
}

.links a:hover {
    color: var(--cor_primaria);
    background-color: var(--cor_fundo);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.login i:hover {
    color: var(--cor_secundaria);
    transition: 0.2s;
}

.login {
    margin-left: auto;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.login i {
    padding: 0.3rem;
    color: var(--cor_fundo);
}

footer {
    background-color: var(--cor_primaria);
    display: flex;
    align-items: center;
    align-self: normal;
    padding: 1rem;
    color: white;
    border-top: 0.15rem solid var(--cor_fundo);
}

footer p {
    margin: auto;
}

.info {
    margin-left: 1rem;
}

.social {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.social i {
    color: var(--cor_fundo);
}

.social i:hover {
    color: var(--cor_secundaria);
    transition: ease-in 0.2s;
}